:root {
  --text-color: #414141;
  --light-text-color: #ffffff;
  --title-text-color: #3c3c3c;
  --description-text-color: #343434;
  --cards-parametrs-text-color: #c4c4c4;
  --fill-text-color: #d74444;

  --lightbutton-text-color: #ffffff;
  --cardsbutton-text-color: #245462;

  //*---fonts---*//
  $ff-main: 'Roboto', sans-serif;
}
