<section class="cards">
  <div class="container">
    <h2 class="cards__title">Хиты продаж</h2>
    <div class="cards__content">
      <ul>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
        <li class="cards__item list">
          <a class="cards__link link" href=""
            ><img width="200" height="150" src="" alt="" />
            <h3 class="cards__image">Валенсия</h3>
            <p class="cards__description">Диваны</p>
            <p class="cards__price">4650</p></a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
