<header class="header">
  <div class="container">
    <!-- navigation -->
    <nav class="navigation">
      <div class="navigation__wrapper">
        <ul class="navigation__list">
          <li class="navigation__item list">
            <a class="navigation__link link" href="">Главная</a>
          </li>
          <li class="navigation__item list"><a class="navigation__link link" href="">О нас</a></li>
          <li class="navigation__item list">
            <a class="navigation__link link" href="">Контакты</a>
          </li>
        </ul>

        <!-- contacts -->
        <ul class="contacts">
          <li class="contacts__item list">
            <a class="contacts_link link" href="">8 (964) 89 99 119</a>
          </li>
          <li class="contacts__item list"><a class="contacts_link link" href="">Доставка</a></li>
        </ul>
      </div>

      <div class="searchbar">
        <svg class="searchbar__menulogo" width="20" height="11">
          <use href="./images/svg/sprite.svg#icon-menu-icon"></use>
        </svg>

        <img
          width="100"
          height="22"
          src="./images/LOGO.jpg"
          alt="logo of the kitchen"
          class="searchbar__logo"
        />
        <input type="text" class="searchbar__input" id="search" placeholder="Найти" />

        <ul class="userbar">
          <li class="userbar__item list">
            <a class="userbar__link link" href="">
              <svg width="20" height="17">
                <use href="./images/svg/sprite.svg#icon-wishlist-icon"></use>
              </svg>
            </a>
          </li>
          <li class="userbar__item list">
            <a class="userbar__link link" href="">
              <svg width="19" height="18">
                <use href="./images/svg/sprite.svg#icon-cart"></use>
              </svg>
            </a>
          </li>
          <li class="userbar__item list">
            <a class="userbar__link link" href="">
              <svg width="13" height="18">
                <use href="./images/svg/sprite.svg#icon-profile-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
