<header class="header">
  <!-- navigation -->
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item"><a class="navigation__link" href="">Главная</a></li>
      <li class="navigation__item"><a class="navigation__link" href="">О нас</a></li>
      <li class="navigation__item"><a class="navigation__link" href="">Контакты</a></li>
    </ul>
  </nav>

  <!-- contacts -->
  <ul class="contacts">
    <li class="contacts__item"><a class="contacts_link" href="">8 (964) 89 99 119</a></li>
    <li class="contacts__item"><a class="contacts_link" href="">Доставка</a></li>
  </ul>
</header>
