<section class="menu">
  <div class="container">
    <ul class="menu__list">
      <li class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />Кухни</a>
      </li>
      <li class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />Спальни</a>
      </li>
      <li class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />Гостинные</a>
      </li>
      <li class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />Прихожие</a>
      </li>
      <l class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />Офисная мебель</a>
      </l>
      <li class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />Детская</a>
      </li>
      <li class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />Акция</a>
      </li>
      <li class="menu__item list">
        <a class="menu__link link" href=""><img src="" alt="" />...</a>
      </li>
    </ul>
  </div>
</section>
